.bookmarks-container {
    padding: 0 0;
	height: 100%;
	background: rgba(0,0,0,0.4);
}

.bookmarks-block {
	margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
}

.bookmark {
      box-sizing: border-box;
      float: left;
      vertical-align: middle;
      width: 50%;

    .thumbnail {
        overflow: hidden;
        width: 100%;

        img {
            height: auto;
            position: relative;
            left: 0;
            top: 0;
            width: 100%;
        }

        a {
            float: left;
            height: 5rem;
            position: relative;
            width: 100%;

            span {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                padding: 0 0 0 0;
                text-align: center;

                h4 {
                    font-size: $h5;
                    margin: 2rem 0 0 0;
                    color: $off-white;
                    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
                }

                p {
                    color: $off-white;
                }
            }

            &:hover {
                span {
                    display: block;
					background-color: $link-hover-color;
                }
            }
        }
    }
  }

@media screen and (min-width: 640px)  and (max-width: 768px) {
    .bookmark {
        width: 33.33%;

        .thumbnail {
            width: 100%;

            img {
                width: 100%;
            }
            a {
                width: 100%;
	            height: 6rem;

                span {
                    padding: 0 0 0 0;

                    h4 {
	                    font-size: $h4;
                        margin: 2.35rem 0 2.35rem 0;
                    }

                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
    .bookmark {
        width: 33.33%;

        .thumbnail {
            width: 100%;

            img {
                width: 100%;
            }
            a {
                width: 100%;
	            height: 7rem;

                span {
                    padding: 0 0 0 0;

                    h4 {
	                    font-size: $h4;
                        margin: 2.85rem 0 2.85rem 0;
                    }

                }
            }
        }
    }
}

@media (min-width: 900px) and (max-width: 1200px) {
    .bookmark {
        width: 33.33%;

        .thumbnail {
            width: 100%;

            img {
                width: 100%;
            }
            a {
                width: 100%;
	            height: 8rem;

                span {
                	padding: 0 0 0 0;

                    h4 {
	                    font-size: $h4;
                        margin: 3.35rem 0 3.35rem 0;
                    }

                }
            }
        }
    }
}

@media (min-width: 1200px){
    .bookmark {
        width: 33.33%;

        .thumbnail {
            width: 100%;

            img {
                width: 100%;
            }
            a {
                width: 100%;
	            height: 8rem;

                span {
                    padding: 0 5% 0 5%;

                    h4 {
	                    font-size: $h4;
                        margin: 3.35rem 0 3.35rem 0;
                    }

                }
            }
        }
    }
}

