a[class="footnote"] {
    font-size: .6rem;;
}

a[class="footnote"]:before {
    content: "[";
}

a[class="footnote"]:after {
    content: "]";
}

.footnotes ol[role="doc-endnotes"] {
    counter-reset: item;
    margin-left: 0;
    padding-left: 0;
}

.footnotes li[role="doc-endnote"] {
	display: block;
	list-style: none;
}

.footnotes li[role="doc-endnote"]::before {
	content: "[" counter(item) "]";
    counter-increment: item;
	font-size: .8rem;
    text-align: left;
	width: 3rem;
    padding-right: 0.5em;
    margin-left: -2em;   
}

.footnotes p {
	display: inline;
}